@model IEnumerable<Model.Framework.Kho>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTrongKho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTrongKho)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MaSP }) |*@
            <a href="@Url.Action("Details", "ThongTinSanPham", new {id = item.MaSP})">Details</a> |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.MaSP })*@
        </td>
    </tr>
}

</table>
