@model Model.Framework.PhieuNhap

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoPN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
