@model Model.Framework.ChiTietPhieuNhap

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietPhieuNhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuNhap.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuNhap.MaNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTienNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTienNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
